# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

#Project specific
/old_csv_data/
/snapshots/
/snapshots_test/
/src/main/java/RL/test/
